@{
    ViewData["Title"] = "About";
}



<h2>@ViewData["Message"]</h2>
<h3>@ViewData["Mission"]</h3>

<p>
    O objetivo principal do nosso trabalho é sermos um facilitador de oportunidades, onde tanto em momentos de necessidade você possa encontrar de maneira rápida e eficiente
    àquele que prestará serviços para você, como também com que você possa oferecer seus serviços avaliando a necessidade do cliente final com sua habilidade.
    O Quick Jobs foi planejado para desde empresas que buscam clientes, como autonomos que buscam seu espaço no mercado.
    Pensando na maior comodidade e rotatividade do mundo moderno, planejamos uma maneira rápida, para que você possa encontrar aquilo que você precisa, no momento ideal,
    e não tenha dores de cabeça na hora de planejar sua festa, consertar aquele imprevisto de urgência em casa quando vai receber aquela visita ou até mesmo contratar um serviço de uma empreitada
    inteira!
</p>

<h3>Quem somos</h3>

<p> Somos uma equipe da Universidade Anhembi Morumbi, campus Paulista I, da turma de Sistemas de Informação, que se juntou para realizar nosso trabalho para conclusão de curso. </p>
